{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

    <div class="hero-unit">
        <div class="center">

            <h1>Desempleo y desahucios</h1>
            <br />
            <p id="explanation">
                Como consecuencia de la profunda crisis económica, el desempleo se ha 
                convertido en una lacra social y según el CIS en la principal preocupación de
                la ciudadanía. Junto a este fenómeno y en gran medida motivado por él, se 
                viene produciendo un alarmante incremento de los desahucios por no poder 
                pagar la hipoteca, situación que no sólo está generando un gran clamor 
                social, sino que además es un mal síntoma para una sociedad que se 
                pretende moderna y que debe aspirar a proteger a sus conciudadanos/as en
                aquellas necesidades básicas que forman parte no ya sólo de ser 
                ciudanano/a, sino también de ser persona.
            </p>

            <a  class="btn btn-primary btn-large" href="unemployment_graph/">Ver gráficas desempleo</a>
            <a  class="btn btn-primary btn-large" href="/">Ver gráficas desahucios</a>
        </div>

        <ul>
            <li><a href="/line-chart"><i class="icon-signal"></i>Line chart</a></li>
            <li><a href="/other_chart"><i class="icon-signal"></i>Other chart</a></li>
            <li><a href="/focus_context"><i class="icon-signal"></i>Focus context</a></li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}