{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

    <div class="hero-unit">
        <h1>Desempleo y desahucios</h1>
        <br />
        <p>Gráficas:</p>
        <ul>
            <li><a href="/line-chart"><i class="icon-signal"></i>Line chart</a></li>
            <li><a href="/other_chart"><i class="icon-signal"></i>Other chart</a></li>
            <li><a href="/focus_context"><i class="icon-signal"></i>Focus context</a></li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}