{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

    <div class="center">
    	<a class="btn btn-large btn-primary" href="/">Volver</a>
    </div>

    Provincia:
 	<select name="Provincia" value="Bizkaia" id="provinceSelector"></input>
    <input type="submit" value="Generar gr&aacute;fico" id="Get" />

    <div id="chart" style="height:800px;border:1px; border-style:solid">
    </div>

    <div>
		Notas:
    	<ul>
    		<li>Seleccionar una sección del gráfico para hacer zoom</li>
    		<li>Pulsar en "Reset zoom" para volver a ver el gráfico entero</li>
    	</ul>
    </div>
    <section></section>

{% endblock %}

{% block scripts %}

<script>

	var provinces ;
	

	$.ajax({
			url: "/provinces" ,
	  		context: document.body
	  	}).done( function(datastr)
	  	{
	  		provinces = JSON.parse(datastr);
	  		var provs_str = "" ;
	  		for( var j = 0 ; j < provinces.length ; ++j )
	  			provs_str +=  "<option value=" + j + ">" + provinces[j] + "</option>" ;

	  		$('#provinceSelector').html(provs_str);
	  	});


	$("#Get").click( function() {
		var provID = $('#provinceSelector').val();
		var provincia = provinces[provID]

		$.ajax({
			url: "/province/" + provincia + "/all" ,
	  		context: document.body
		}).done(
			function (datastr) {
	   			var chart;
	    		var data = JSON.parse(datastr);

	    		var series = [] ;


	    		for( var i = 0 ; i < data.length ; ++i )
	    		{
	    			var datarray = []; 
	    			for( var j = 0 ; j < data[i].results.length ; ++j )
	    				datarray.push(
	    					[
	    						Date.UTC(data[i].results[j].year , data[i].results[j].month,1),
	    						data[i].results[j].unemployed
	    						]
	    					);
	    				
	    			series.push( {
	    				name: data[i].town,
	    				data: datarray
	    				//pointInterval: 30 * 24 * 3600 * 1000, // this is approx, but I don't think we can do better...
	            	    //pointStart: Date.UTC(2005, 5, 01)
	            	});
	    		}

	        	chart = new Highcharts.Chart({
		            chart: {
		                renderTo: 'chart',
		                type: 'line',
						zoomType: 'xy'

		            },
		            title: {
		                text: 'Desempleo en ' + provincia
		            },
		            xAxis: {
		            	type:'datetime',
		                maxzoom: 60 * 24 * 3600000
		            },
		            yAxis: {
		                title: {
		                    text: 'Desempleo'
		                },
		                labels: {
		                    formatter: function() {
		                        return this.value / 1000 +'k';
		                    }
		                },
		                min:0,
		                minPadding:0
		            },
		            tooltip: {
		                formatter: function() {
		                	var date = new Date(this.point.x) ;

		                    return this.series.name  +
		                    	"<br/>Desempleados: " + this.point.y + 
		                    	"<br/>"+ date.getFullYear() + "-" + (date.getMonth() +1) ;
		                }
		            },
		            plotOptions: {
		            	line:{
		            		animation:true,
		            		allowPointSelect : true
		            	}
		            },
		            series: series
		        });
		    });
	});


</script>

{% endblock %}