{% extends "website/base.html" %}
{% load i18n %}

{% block content %}

    <div class="center">
    	<a class="btn btn-large btn-primary" href="/">Volver</a>
    </div>

    Provincia:
 	<select name="Provincia" value="Bizkaia" id="provinceSelector"></input>
    <input type="submit" value="Generar gr&aacute;fico" id="Get" />

    <div id="chart" style="height:800px;border:1px; border-style:solid">
    </div>

    <div>
		Notas:
    	<ul>
    		<li>Seleccionar una sección del gráfico para hacer zoom</li>
    		<li>Pulsar en "Reset zoom" para volver a ver el gráfico entero</li>
    	</ul>
    </div>
    <section></section>

{% endblock %}

{% block scripts %}

<script>

	// -----------------
	// Prepare the chart
	// -----------------

	var chart = new Highcharts.Chart({
	            chart: {
	                renderTo : 'chart',
	                type     : 'line',
					zoomType : 'xy'
	            },
	            title : "",
	            xAxis: {
	            	type     : 'datetime',
	                maxzoom  : 60 * 24 * 3600000
	            },
	            yAxis: {
	                title: { text : 'Desempleo' },
	                labels: { formatter : function() { return this.value / 1000 +'k'; } },
	                min:0,
	                minPadding:0
	            },
	            tooltip: {
	                formatter: function() {
	                	var date = new Date(this.point.x) ;

	                    return this.series.name  +
	                    	"<br/>Desempleados: " + this.point.y + 
	                    	"<br/>"+ date.getFullYear() + "-" + (date.getMonth() +1) ;
	                }
	            },
	            credits: { enabled:false },
	            loading: {
            		labelStyle: { color: 'white' },
            		style : {backgroundColor: 'gray' }
        		}
	        });

	// -------------------------
	// Get the list of provinces 
	// -------------------------

	var provinces ;
	
	$.ajax({
			url: "/provinces" ,
	  		context: document.body
	  	}).done( function(datastr)
	  	{
	  		provinces = JSON.parse(datastr);
	  		var provs_str = "" ;
	  		for( var j = 0 ; j < provinces.length ; ++j )
	  			provs_str +=  "<option value=" + j + ">" + provinces[j] + "</option>" ;

	  		$('#provinceSelector').html(provs_str);
	  	});

	// --------------
	// Button clicked
	// --------------

	$("#Get").click( function() {
		var provID = $('#provinceSelector').val();
		var provincia = provinces[provID]

		chart.showLoading();

		while(chart.series.length > 0 )
			chart.series[0].remove(false);

		// ------------
		// Send request
		// ------------

		$.ajax({
			url: "/province/" + provincia + "/all" ,
	  		context: document.body
		}).done(
			function (datastr) {
	   			
	   			// -----------------------------
	   			// Generate data for each series 
	   			// -----------------------------

	    		var data = JSON.parse(datastr);

	    		for( var i = 0 ; i < data.length ; ++i )
	    		{
	    			var seriesdata = []; 
	    			for( var j = 0 ; j < data[i].results.length ; ++j )
	    				seriesdata.push(
	    					[
	    						Date.UTC(data[i].results[j].year , data[i].results[j].month,1),
	    						data[i].results[j].unemployed
	    					]);
	    			
	    			// -----------------------------
	    			// Add each data series to graph
	    			// -----------------------------

	    			chart.addSeries( {
	    				name: data[i].town,
	    				data: seriesdata
	            	},false);
	    		}

	    		// ----------------
	    		// Show graph again
	    		// ----------------

	    		chart.hideLoading();
	        	chart.redraw();
		});
	});

</script>

{% endblock %}