body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

header {
  background-color: #C0C0C0;
  border-bottom: 5px solid #707070;
}

.container {
  min-height: 35em;
  margin: 2em;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #C0C0C0;
  height: 5em;
  border-top: 5px solid #707070;
}